<div class="row ml-2 mt-4">
    <div class="col-3">
        <input type="text" class="form-control" placeholder="First name" #temp (keyup.enter)="onEvent(temp.value)">
    </div>
    <div class="col-3">
        <input type="text" class="form-control" placeholder="Last name" [(ngModel)]="lName"
            (keyup.enter)="onEvent(lName)">
    </div>
</div>
<button class=" btn btn-outline-success m-4 btn-lg">
    Click
</button>
<div class="container">
    <p>
        {{text|summary}}

    </p>
</div>